/*后台配置相关*/

div,
a {
	color: #333;
	font-family: "微软雅黑";
	font-size: 12px;
}

li {
	list-style: none;
}

ul,
li {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}
/*@列表视图样式*/
.lui_listview_columntable_table {border-collapse: collapse;width: 100%; background-color:#fff; border-bottom:1px solid #b9d4e5}
.lui_listview_columntable_table thead { background-color:#f8f8f8; height:40px;}
.lui_listview_columntable_table thead th {padding: 8px 2px;text-align: center;vertical-align: middle;border-bottom: 1px dotted #ccc;font-weight: bold; white-space:nowrap; }
.lui_listview_columntable_table thead th .lui_icon_s {float: right;}
.lui_listview_columntable_table tbody tr {border-bottom: 1px dotted #ccc;}
.lui_listview_columntable_table tbody tr:hover {background-color: #f4f4f4;}
.lui_listview_columntable_table tbody tr:hover .com_subject{ color:#F19703!important;}
.lui_listview_columntable_table tbody tr td {padding: 10px 2px;text-align: center;vertical-align: middle;word-break : break-all;}
.lui_listview_columntable_table tbody tr td > span > img{ vertical-align: middle;}
.lui_listview_columntable_table tbody tr td .textEllipsis{word-wrap:normal;}
.lui_listview_columntable_table_title{display: inline-block;}
.lui_listview_columntable_table_icon{display: inline-block;position: relative;top:3px;}
.lui_listview_columntable_table tbody tr:last-child{ border-bottom:2px solid #bad4e5}
.lui_listview_columntable_table input[type='checkbox']{cursor:default;}


.conf_show_more_w {
	position: relative;
	display: inline-block;
}

.conf_btn_edit .btn_txt {}

.conf_show_more_w .btn_arr i {
	display: inline-block;
	width: 0px;
	height: 0px;
	border: 4px solid transparent;
	border-top-color: #333;
	position: relative;
	top: 3px;
}

.conf_show_more_w .btn_arr {
	display: inline-block;
	width: 10px;
	padding: 0px 5px 4px;
	border: 1px solid transparent;
	border-bottom: none;
	position: relative;
	z-index: 10;
}

.conf_show_more_w.current .btn_arr {
	border: 1px solid #e1e1e1;
	border-bottom: 0px;
	background: #fff;
}

.conf_show_more_w .mod_drop_op {
	display: none;
	position: absolute;
	top: 20px;
	right: 0px;
	border: 1px solid #e1e1e1;
	width: 50px;
}

.conf_show_more_w .mod_drop_op li {
	line-height: 22px;
	text-align: right;
	padding-right: 5px;
}

.conf_show_more_w .mod_drop_op li:hover a {
	color: #0033FF;
}

.conf_show_more_w .mod_drop_op li:hover {
	background: #eee;
}

.conf_show_more_w.current .mod_drop_op {
	display: inline-block;
	background:#fff;
}