@charset "utf-8";

/**
** 代码制作人: xiex
** 制作时间：2016-08-31
** 文件内容描述：自定义表单编辑器相关
** 修改日期：无
** 修改内容：无
**********************************************/


/*样式重置*/

html,
body,
p {
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
	font-size: 12px;
	color: #666;
}

a {
	color: #666;
	text-decoration: none;
}

ul,
li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.test-body {
	background: #ebebed;
}

.edui-test-wrap {
	width: 780px;
	margin: 20px auto;
}

.edui-wrap {
	border: 1px solid #eaeaea;
	box-shadow: 0px 0px 5px rgba(234, 234, 234, 1);
	background: #fff;
}


/*选项卡*/

.edui-tab-head {
	height: 26px;
	background: #f1f2f4;
}

.edui-tab-head ul {
	font-size: 0px;
}

.edui-tab-head ul li {
	display: inline-block;
	border: 1px solid #dbdbdb;
	border-bottom: none;
	margin-left: -1px;
}

.edui-tab-head ul li:first-child {
	margin-left: 0px;
}

.edui-tab-head ul li.current,
.edui-tab-head ul li:hover {
	border-top-color: #9db5ec;
	border-bottom-color: transparent;
	background: #fff;
}

.edui-tab-head ul li a {
	display: inline-block;
	padding: 0px 25px;
	line-height: 25px;
	font-size: 12px;
	color: #484848;
	border-top: 1px solid transparent;
}

.edui-tab-head ul li.current a,
.edui-tab-head ul li:hover a {
	color: #6aa6fd;
	border-top-color: #9db5ec;
}


/*布局相关 按钮组*/

.edui-btns-group {}

.edui-btns-group:after,
.edui-btns-group .edui-btns-group-item:after {
	display: table;
	content: "";
	clear: both;
}

.edui-btns-group .edui-btns-group-item,
.edui-btns-group .edui-btns-item {
	float: left;
}

.edui-h4-title {
	padding: 5px 0px;
}

.edui-btns-group .edui-btns-item {
	padding:7px;
}

.edui-icon {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}

.edui-icon-s {
	width: 16px;
	height: 16px;
}

.edui-icon-m {
	width: 24px;
	height: 24px;
}


/*撤销*/

.edui-icon-undo {
	background-image: url(../images/edui-icon-undo.png);
}


/*重做*/

.edui-icon-redo {
	background-image: url(../images/edui-icon-redo.png);
}


/*全屏*/

.edui-icon-fullscreen {
	background-image: url(../images/edui-icon-fullscreen.png);
}
/************* 开始 图标 ***************/
/*粘贴*/
.edui-icon-paste{background-image: url(../images/start/edui-icon-paste.png);}
/*复制*/
.edui-icon-copy{background-image: url(../images/start/edui-icon-copy.png);}
/*加粗*/
.edui-icon-bold{background-image: url(../images/start/edui-icon-bold.png);}
/*斜体*/
.edui-icon-italic{background-image: url(../images/start/edui-icon-italic.png);}
/*下划线*/
.edui-icon-underline{background-image: url(../images/start/edui-icon-underline.png);}
/*字体样式*/
.edui-icon-forecolor{background-image: url(../images/start/edui-icon-forecolor.png);}
/*居左*/
.edui-icon-justifyleft{background-image: url(../images/start/edui-icon-justifyleft.png);}
/*居右*/
.edui-icon-justifyright{background-image: url(../images/start/edui-icon-justifyright.png);}
/*居中*/
.edui-icon-justifycenter{background-image: url(../images/start/edui-icon-justiycenter.png);}
/************* 表单集成 ***************/
/*文本*/
.edui-icon-text{ background-image: url(../images/form/edui-icon-text.png);}
/*单行输入*/
.edui-icon-input{ background-image: url(../images/form/edui-icon-input.png);}
/*多行输入*/
.edui-icon-textarea{ background-image: url(../images/form/edui-icon-textarea.png);}
/*单选*/
.edui-icon-radio{ background-image: url(../images/form/edui-icon-radio.png);}
/*多选*/
.edui-icon-checkbox{ background-image: url(../images/form/edui-icon-checkbox.png);}
/*下拉菜单*/
.edui-icon-select{ background-image: url(../images/form/edui-icon-select.png);}
/*日历*/
.edui-icon-calendar{ background-image: url(../images/form/edui-icon-calendar.png);}
/*前端值计算*/
.edui-icon-count{ background-image: url(../images/form/edui-icon-count.png);}
/*富文本*/
.edui-icon-rtf{ background-image: url(../images/form/edui-icon-rtf.png);}
/*地址本*/
.edui-icon-addressbook{ background-image: url(../images/form/edui-icon-addressbook.png);}
/*超链接*/
.edui-icon-alink{ background-image: url(../images/form/edui-icon-alink.png);}
/*附件*/
.edui-icon-attach{ background-image: url(../images/form/edui-icon-attach.png);}
/*隐藏字段*/
.edui-icon-hidden{ background-image: url(../images/form/edui-icon-hidden.png);}
/*明细表*/
.edui-icon-detail{ background-image: url(../images/form/edui-icon-detail.png);}
/*权限字段*/
.edui-icon-rightzone{ background-image: url(../images/form/edui-icon-rightzone.png);}
/*显示权限*/
.edui-icon-rightshow{ background-image: url(../images/form/edui-icon-rightshow.png);}
/*大小写切换*/
.edui-icon-caption{ background-image: url(../images/form/edui-icon-caption.png);}

/***************** 布局相关图标 *******************/
/*表格*/
.edui-icon-table{ background-image: url(../images/layout/edui-icon-table.png);}
/*DIV布局*/
.edui-icon-div{background-image: url(../images/layout/edui-icon-div.png);}
/*多标签*/
.edui-icon-label{background-image: url(../images/layout/edui-icon-label.png);}
/*属性列表*/
.edui-icon-att-list{background-image: url(../images/layout/edui-icon-att-list.png);}
/*属性布局*/
.edui-icon-att-layout{background-image: url(../images/layout/edui-icon-att-layout.png);}
/*换行控件*/
.edui-icon-newline{background-image: url(../images/layout/edui-icon-newline.png);}
/*插入图片*/
.edui-icon-img{background-image: url(../images/layout/edui-icon-img.png);}
/*缩小画布*/
.edui-icon-zoom-out{background-image: url(../images/layout/edui-icon-zoom-out.png);}
/*放大画布*/
.edui-icon-zoom-in{background-image: url(../images/layout/edui-icon-zoom-in.png);}

/***************** 集成&辅助 *******************/
/*动态下拉框*/
.edui-icon-dynamic-select{background-image: url(../images/assit/edui-icon-dynamic-select.png);}
/*事件控件*/
.edui-icon-event{background-image: url(../images/assit/edui-icon-event.png);}
/*携程控件*/
.edui-icon-ctrip{background-image: url(../images/assit/edui-icon-ctrip.png);}
/*微协同*/
.edui-icon-tiny-oa{background-image: url(../images/assit/edui-icon-tiny-oa.png);}
/*JSP片段*/
.edui-icon-jsp{background-image: url(../images/assit/edui-icon-jsp.png);}
/*审批控件*/
.edui-icon-flow-app{background-image: url(../images/assit/edui-icon-flow-app.png);}
/*审批意见*/
.edui-icon-flow-idea{background-image: url(../images/assit/edui-icon-flow-idea.png);}
/*EXCEL导入*/
.edui-icon-excel{background-image: url(../images/assit/edui-icon-excel.png);}

/***************** 其他 *******************/
/*源码查看*/
.edui-icon-code{background-image:url(../images/other/edui-icon-code.png);}
/*控件树*/
.edui-icon-tree{background-image:url(../images/other/edui-icon-tree.png);}
