/*重置样式*/

* {
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #333;
}

ul,
li {
	list-style: none;
}

dl,
dd,
dt {
	margin: 0px;
	padding: 0px;
}

a,
a:hover,
a:link {
	text-decoration: none;
}

body {
	padding: 30px;
}


/*测试用结束*/


/*布局相关*/

.course_detail_containter {
	height: 665px;
	width: 100%;
	display: table;
}

.course_detail_containter .course_detail_left {
	border: 1px solid #BEC5CB;
	display: table-cell;
	vertical-align: top;
	height: 665px;
	position: relative;
}

.course_detail_containter .course_detail_right {
	display: table-cell;
	padding: 10px;
	width: 300px;
	background: #47B5E6;
	height: 645px;
}

.course_detail_left .btn_wrap {
	position: absolute;
	bottom: 0px;
	right: 0px;
	padding: 20px 0px;
	text-align: center;
	width: 100%;
}

.course_detail_left .btn_wrap .course_btn {
	display: inline-block;
	padding: 0px 36px;
	background: #ffb136;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	height: 36px;
	line-height: 36px;
	border-radius: 5px;
}

.course_detail_left .btn_wrap .course_btn:hover {
	background: #fea924;
}


/* 章节列表 */

.lui_chapter_catalog {}

.lui_chapter_catalog dl {
	padding-left: 24px;
	border-left: 3px solid #bec5cb;
}

.lui_chapter_catalog dl dt {
	position: relative;
	padding-bottom: 15px;
}

.lui_chapter_catalog dl dt .chapter_title {
	font-size: 16px;
	color: #656565;
}

.lui_chapter_catalog dl dt .lui_dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #fff;
	border: 4px solid #bec5cb;
	position: absolute;
	left: -34px;
	top: 0px;
}

.lui_chapter_catalog dl dd {
	position: relative;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.lui_chapter_catalog dl dd .lui_dot {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bec5cb;
	border-radius: 50%;
	position: absolute;
	left: -30px;
	top: 17px;
}

.lui_chapter_catalog dl dd.active .lui_dot {
	background: #fd4e1f;
}

.lui_chapter_catalog dl dd .course_title a {
	font-size: 14px;
	display: inline-block;
	height: 20px;
	line-height: 20px;
}

.lui_chapter_catalog dl dd.status_disable .course_title a,
.lui_chapter_catalog dl dd.status_disable .course_title:hover a {
	color: #e1e1e1;
	cursor: default;
}

.lui_chapter_catalog dl dd .course_title:hover a,
.lui_chapter_catalog dl dd.active .course_title a {
	color: #47b5e6;
}

.lui_chapter_catalog dl dt {
	margin-top: 40px;
}

.lui_chapter_catalog dl dt:first-child {
	margin-top: 0px;
}

.lui_chapter_catalog dl dd.last_dd {
	padding-bottom: 0px;
}

.lui_chapter_catalog dl dd.last_dd .lui_dot {
	bottom: 0px;
	top: auto;
}


/*说明文档 不要拷贝*/

.desc_wrap {
	padding: 10px;
	margin-bottom: 50px;
}
.desc_wrap dt{
	margin-bottom: 15px;
}
.desc_wrap dd {
	padding-left: 10px;
	line-height: 24px;
}