<meta charset="utf-8" />
<link rel="stylesheet" href="../css/edui-editor.css" />
<div class="edui-btns-group">
	<!--布局-->
	<div class="edui-btns-group-item">
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-table"></div>
			<p class="edui-h4-title">表格</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-div"></div>
			<p class="edui-h4-title">DIV布局</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-label"></div>
			<p class="edui-h4-title">多标签</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-att-list"></div>
			<p class="edui-h4-title">属性列表</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-att-layout"></div>
			<p class="edui-h4-title">属性布局</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-newline"></div>
			<p class="edui-h4-title">换行控件</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-img"></div>
			<p class="edui-h4-title">插入图片</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-zoom-in"></div>
			<p class="edui-h4-title">放大画布</p>
		</div>
		<div class="edui-btns-item">
			<div class="edui-icon edui-icon-m edui-icon-zoom-out"></div>
			<p class="edui-h4-title">缩小画布</p>
		</div>
	</div>
</div>